@import 'variables.less';
@import 'mixins.less';

.container{

	
	[class*='col-']{
		float: left;
		border-bottom:1px solid;
		border-left: 1px solid;
		min-height: 75px;
		line-height: 75px;
		width: 100%;
		box-sizing: border-box;

		&.container{
			border: none;
		}
	}

	.container-fixed(0, 0);


	.make-grid(@container-xs);
	.make-grid(@container-sm);
	.make-grid(@container-md);
	.make-grid(@container-lg);



}




